doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | #{siteName}
        script(src="https://kit.fontawesome.com/88eea5fb64.js" crossorigin="anonymous")
        link(rel="stylesheet" href="/assets/css/styles.css")

    body
        include partials/header
        div(class="max-w-5xl mx-auto flex")
            include partials/nav
            main(class="w-full p-5")
                h1(class="text-blue-400")=pageTitle 
                block content 

        include partials/footer
    script(src="/assets/js/main.js")
    block script