extends base

block content 
    span=errorMessage
    form(method="POST")
        input(name="email" type="email" placeholder="email" required)
        input(name="password" type="password" placeholder="password" required)
        input(name="password2" type="password" placeholder="password check" required)
        input(name="nickname" type="text" placeholder="nickname" required)
        input(type="submit" value="sign up")
    a(href="/signin") if you have account already. Please go to login Page!