extends base
   
block content 
    if errorMessage
        span=errorMessage
    if okMessage 
        span=okMessage
    div(class="fixed bg-gray-900 bg-opacity-70 top-0 bottom-0 left-0 right-0 flex justify-center items-center")
        div(class="relative w-5/6 max-w-lg bg-white h-100 rounded-lg shadow-lg p-10")
            form(method="POST" class="w-80 m-auto flex flex-col space-y-3 my-2")
                h1(class="text-xl font-bold text-center") LOG IN to Wetube
                label(class="flex flex-col text-sm text-sky-700 border-2 border-sky-700 rounded-lg px-2") email
                    input(class="my-2" name="email", type="email", required)
                label(class="flex flex-col text-sm text-sky-700 border-2 border-sky-700 rounded-lg px-2") password
                    input(class="my-2" name="password", type="password", required)
                input(class="cursor-pointer rounded-lg py-2 bg-sky-600 hover:bg-sky-500 active:bg-sky-700" type="submit", value="sign in")
            a(class="space-x-2 mb-2 text-center w-80 m-auto block text-white cursor-pointer rounded-lg py-2 bg-black hover:bg-gray-700 active:bg-gray-900" href="/user/github/start") 
                i(class="fa-brands fa-github")
                span Log in with Github
            a(class="block w-80 m-auto text-sky-600" href="/signup") If you want to Create Account?