header
    div(class="flex justify-between h-10 bg-slate-300")
        span easy FrontEnd
        if !loggedIn
            div(class="space-x-2")
                a(href="/signin" class="hover:underline")
                    span sign in
                a(href="/signup" class="hover:underline")
                    span sign up 
        else
            div(class="")    
                a(href="/signout")
                    span sign out