header(class="max-w-5xl mx-auto")
    
    div(class="flex justify-between items-center p-2")
        div(class="space-x-2")
            i(class="fa-solid fa-bars")
            span FrontEnd
        include searchBar
        if !loggedIn
            div(class="space-x-2 flex")
                a(href="/signin")
                    button(class="p-2 flex space-x-2 justify-around items-center border border-gray-200 rounded-full text-sky-600 hover:bg-sky-200 hover:border-sky-200 active:bg-sky-700")
                        i(class="fa-regular fa-circle-user")
                        span 로그인
                a(href="/signup")
                    button(class="p-2 flex space-x-2 justify-around items-center border border-gray-200 rounded-full text-sky-600 hover:bg-sky-200 hover:border-sky-200 active:bg-sky-700")
                        span 계정 생성
        else
            div(class="") 
                a(href="/user/edit")
                    span profile
                a(href="/user/signout")
                    span sign out